* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

main {
	height: 200vh;
}

.divide-page {
	height: 1px;
	width: 90vw;
	margin-right: auto;
	margin-left: auto;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.1);
}

#header {
	display: flex;
	background-color: #fff;
	height: 80px;
	border-bottom: 1px solid #ddd;
	position: fixed;
	width: 100%;
	top: 0;
}

#header .menu-mobile-ipad {
	display: none;
}

#header .mobile-ipad-icon-show {
	display: none;
}

#header .nav {
	height: 80px;
	display: flex;
	align-items: center;
}

.logo-google {
	height: 50px;
	padding-left: 30px;
	padding-right: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#header > .nav > div {
	position: relative;
	padding: 0 10px 0 10px;
	margin: 0;
	box-sizing: border-box;
	color: #111111;
	font-weight: 600;
	font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
		"Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
		"Segoe UI Symbol";
}

#header > .nav > div > .subnav {
	position: absolute;
	z-index: 1000;
	box-shadow: rgb(84 70 35 / 30%) 0px 6px 20px,
		rgb(84 70 35 / 50%) 0px 0px 1px;
	border-radius: 3px;
	background: rgb(255, 255, 255);
	top: 24px;
	left: 0px;
	border: 1px solid #fff;
	display: none;
	padding: 10px;
	width: 200%;
}

#header > .nav > div:hover {
	background-color: #ccc;
}

#header > .nav > div:hover > .subnav {
	display: block !important;
}

#header .button-logup {
	background-color: rgb(58, 160, 218);
	display: inline-block;
	float: right;
	position: absolute;
	top: 25px;
	right: 20px;
	height: 36px;
	padding: 1px 20px 5px;
	border: 1px solid rgb(48, 139, 191);
	color: #fff;
	font-size: 16px;
	font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
		"Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-weight: 600;
}

#header .divide {
	width: 1px;
	background-color: #ccc;
	height: 36px;
	position: absolute;
	top: 25px;
	right: 140px;
}

#header .button-login {
	background-color: #fff;
	border: 1px solid #fff;
	height: 36px;
	position: absolute;
	top: 25px;
	right: 140px;
	font-size: 16px;
	font-weight: 600;
	font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
		"Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
		"Segoe UI Symbol";
	padding-left: 20px;
	padding-right: 20px;
}

.modal {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: none;
	align-items: center;
	justify-content: center;
}

.open {
	display: flex !important;
}

.modal .modal-container {
	background-color: #fff;
	width: 500px;
	align-items: center;
	justify-content: center;
	max-width: 80vw;
	position: relative;
	animation: animationBuyTickets ease 0.5s;
}

.modal .modal-container .modal-close {
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0.8;
	color: #fff;
	padding: 15px 15px;
}

.modal .modal-container .modal-close:hover {
	opacity: 1;
	background-color: #ccc;
}

.modal .modal-container .modal-heading {
	background-color: rgb(58, 160, 218);
	text-align: center;
	font-size: 30px;
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight: 400;
	padding: 40px 0;
}

.modal .modal-container .modal-body-label {
	line-height: 1.4;
	padding: 15px 0px;
}

.modal .modal-container .modal-input {
	line-height: 1.4;
	padding: 8px 8px;
	margin: 5px 0px 10px;
	width: 100%;
}

.modal .modal-container .modal-body {
	margin: 0 16px;
}

.modal .modal-container .button-pay {
	color: #fff;
	display: block;
	background-color: rgb(58, 160, 218) !important;
	text-transform: uppercase;
	width: 100%;
	align-items: center;
	padding: 16px 0px;
	margin-bottom: 32px;
}

.modal .modal-container .modal-body-help {
	float: right;
	margin-bottom: 15px;
	margin-right: 16px;
}

@keyframes animationBuyTickets {
	from {
		opacity: 0.1;
		transform: translateY(-150px);
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

#content-web {
	z-index: -1;
	height: 200vh;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 80px;
}

#content-web .introduce {
	margin-top: 170px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}

#content-web .introduce .content-introduce {
	width: 50%;
}

#content-web .introduce .img-intro {
	width: 50%;
}

#content-web .introduce .content-introduce .tittle-introduce {
	font-size: 52px;
	font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
		"Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-weight: 700;
	line-height: 60px;
	letter-spacing: 0px;
	text-align: left;
	color: rgb(17, 17, 17);
	margin-bottom: 10px;
}

#content-web .introduce .content-introduce .subtittle-introduce {
	font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
		"Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 0px;
	line-height: 30px;
	text-align: left;
	color: rgb(128, 128, 128);
}

#content-web .introduce .content-introduce .button-logup {
	background-color: rgb(58, 160, 218);
	margin-top: 10px;
	height: 40px;
	padding: 1px 40px 4px;
	border: 1px solid rgb(48, 139, 191);
	color: #fff;
	font-size: 20px;
	font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
		"Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-weight: 600;
}

#content-web .introduce .content-introduce .padding-more {
	height: 30px;
}

#content-web .introduce-team {
	padding: 30px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#content-web .introduce-team .content-introduce {
	max-width: 40vw;
	width: 40vw;
}

#content-web .introduce-team > video {
	width: 60vw;
	height: 80vh;
	max-height: 80vh;
}

#content-web .introduce-team .content-introduce .tittle-introduce {
	font-size: 40px;
	font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
		"Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-weight: 700;
	line-height: 45px;
	letter-spacing: 0px;
	text-align: left;
	color: rgb(17, 17, 17);
	margin-bottom: 10px;
	margin-right: 25px;
}

#content-web .introduce-team .content-introduce .subtittle-introduce {
	font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
		"Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 0px;
	line-height: 30px;
	text-align: left;
	color: rgb(128, 128, 128);
	margin-right: 25px;
}

#content-web .introduce-never {
	padding: 30px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#content-web .introduce-never .content-introduce {
	max-width: 40vw;
	width: 40vw;
}

#content-web .introduce-never > img {
	width: 60vw;
	height: 80vh;
	max-height: 80vh;
}

#content-web .introduce-never .content-introduce .tittle-introduce {
	font-size: 40px;
	font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
		"Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-weight: 700;
	line-height: 45px;
	letter-spacing: 0px;
	text-align: left;
	color: rgb(17, 17, 17);
	margin-bottom: 10px;
	margin-right: 25px;
}

#content-web .introduce-never .content-introduce .subtittle-introduce {
	font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
		"Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 0px;
	line-height: 30px;
	text-align: left;
	color: rgb(128, 128, 128);
	padding-right: 40px;
}

.footer {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer > div {
	width: 100%;
	text-align: center;
}

.footer > div > .logo {
	width: 30%;
}

.footer .tittle-footer {
	font-size: 38px;
	line-height: 1.2;
	font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
		"Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-weight: 700;
	color: rgb(17, 17, 17);
	padding-bottom: 15px;
}

.footer .subtittle {
	font-size: 20px;
	line-height: 1.2;
	color: rgb(128, 128, 128);
	font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
		"Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-weight: 500;
}

.footer .button-logup {
	color: rgb(255, 255, 255);
	background: rgb(225, 98, 89);
	border: 1px solid rgb(190, 86, 67);
	box-shadow: rgb(15 15 15 / 10%) 0px 1px 2px;
	font-size: 17px;
	height: 46px;
	padding: 0px 40px;
	border-radius: 5px;
	font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
		"Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-weight: 500;
	margin-top: 50px;
	margin-bottom: 50px;
}
.footer .button-logup:hover {
	opacity: 0.8;
	cursor: pointer;
}
